body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header, .footer {
    background-color:#1F2937;
    color: white;
    flex: 1 1 10vh;
    font-size: 2.5vmax;
}

.banner {
    background-color:aquamarine;
    flex: 1 1 10vh;
    font-size: 2vmax;
    padding: 0px 2vw 0px 2vw;
}

.content {
    flex: 1 1 60vh;
    font-size: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header, .banner, .buttonContainer, .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}

.letter {
    height: 10vmax;
    width: 10vmax;
    font-size: 4vmax;
    border-radius: 0.5vw;
    border-width: 0.2vw;
    margin: 0px 0.5vw 0px 0.5vw
}

.confirm, .replay {
    margin-top: 5vh;
    font-size: 2vmax;
    border-radius: 0.5vw;
    border-width: 0.2vw;
    padding: 0 1vw 0 1vw;
}  

.start {
    font-size: 2vmax;
    border-radius: 0.5vw;
    border-width: 0.2vw;
    padding: 0 1vw 0 1vw;
}

.b {
    background-color: #787C7E;
}

.y {
    background-color: #C9B458;
}

.g {
    background-color: #6AAA64;
}