body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header, .footer {
    background-color:#1F2937;
    color: white;
    flex: 1 1 10vh;
    font-size: 2.5rem;
    font-family: "Lato", sans-serif;
}

.banner {
    background-color:#8ab5f5;
    flex: 1 1 10vh;
    font-size: 1.3rem;
    padding: 0px 1.75vw 0px 1.5vw;
    font-family: "Lato", sans-serif;
    color: rgb(88, 84, 84);
    font-weight: 600;
}

.content {
    flex: 1 1 60vh;
    font-size: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header, .banner, .buttonContainer, .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.letter {
    height: 6rem;
    width: 6rem;
    font-size: 2.7rem;
    border-radius: 0.75rem;
    border-width: 0.2rem;
    margin: 0px 0.5rem 0px 0.5rem;
}

.confirm, .replay {
    margin-top: 5vh;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    border-width: 0.2vw;
    padding: 0 1rem 0 1rem;
}  

.start {
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    border-width: 0.2vw;
    padding: 0 1rem 0 1rem;
}

.b {
    background-color: #787C7E;
}

.y {
    background-color: #C9B458;
}

.g {
    background-color: #6AAA64;
}

.paragraph {
    font-size: 1.3rem;
    font-family: "Lato", sans-serif;
    color: rgb(88, 84, 84);
    font-weight: 600;
}

.warning {
    font-size: 1rem;
    padding: 0px 1.75vw 0px 1.5vw;
    font-family: "Lato", sans-serif;
    color: rgb(255, 0, 0);
    font-weight: 600;
}