body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header, .footer {
    background-color:#1F2937;
    color: white;
    flex: 1 1 10vh;
    font-size: 2vw;
}

.banner {
    background-color:aquamarine;
    flex: 1 1 10vh;
    font-size: 2vw;
}

.content {
    flex: 1 1 60vh;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header, .banner, .buttonContainer, .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}

.letter {
    height: 15vh;
    width: 15vh;
    font-size: 4vw;
    border-radius: 0.5vw;
    border-width: 0.2vw;
    margin: 0px 0.5vw 0px 0.5vw
}

.confirm {
    margin-top: 5vh;
    font-size: 2vw;
    border-radius: 0.5vw;
    border-width: 0.2vw;
    padding: 0 1vw 0 1vw;
}  

.start {
    font-size: 2vw;
    border-radius: 0.5vw;
    border-width: 0.2vw;
    padding: 0 1vw 0 1vw;
}